# Lab 0: Basic Python, Functions, Lists, Strings, and Files

## EXERCISE 1: A Simple Calculator

Here is a fun little calculator which exercises what you have learnt so far.

It has only 4 operations - Addition, Subtraction, Multiplication and Divison

Notice the use of no-operation `pass`. It allows us to incrementally code by doing nothing to start, and put in functionality over time.

In [6]:
print("Select operation\n")
print("1.Addition")
print("2.Subtraction")
print("3.Multiplication")
print("4.Division")

# Something NEW: Take input from the user 
choice = input("\nEnter choice(1/2/3/4): ")

# We convert the input to a floating-pount(or real) number.

num1 = float(input("\nEnter first number: "))
num2 = float(input("\nEnter second number: "))

if choice == '1':
  result = num1 + num2
elif choice == '2':
  result = num1 - num2
elif choice == '3':
  result = num1 * num2
else:
  result  = num1 / num2

print (result)

Select operation

1.Addition
2.Subtraction
3.Multiplication
4.Division

Enter choice(1/2/3/4): 4

Enter first number: 12

Enter second number: 4
3.0

## EXERCISE 2: List like objects and functions on them

Materialize lists using 

1. `range(50)`
2. The function application `enumerate(list of alphabets)`
3. Write your own enumerate function for a list using the function `zip`.

In [ ]:
# your code here

In [ ]:
# your code here

In [ ]:
# your code here

## EXERCISE 3: Count the special characters

Consider the string "HelloWorld,123,ThisIsUniv.Ai" (not including the quotes). Find the number of uppercase, lowercase, special character and numerical characters.

In [ ]:
my_string = "HelloWorld,123,ThisIsUniv.Ai"
# your code here

In [ ]:
counter(string.ascii_uppercase, my_string),counter(string.ascii_lowercase, my_string),counter(string.digits, my_string),counter(string.punctuation, my_string)

## EXERCISE 4: Read a file and parse words from it

Read Julius Caesar. Get each line. Remove newline characters from each line. Split the line to get the words from the line. Lowercase them. Print the first 1000 words, lowercased.

In [ ]:
# your code here